#drive {
border-collapse: collapse;width:650px;}
#drive td,#drive th  {
  border: 1px solid black;
  padding: 5px;
}

#drive th {
  background-color: #F88379;
  border: 1px solid black;
  color: white;
text-align:left;
}






#custom {
border-collapse: collapse;width:650px;}
#custom td,#custom th  {
  border: 1px solid black;
  padding: 5px;
}

#custom th {
  background-color: #F88379;
  border: 1px solid black;
  color: white;
text-align:left;
}






#insurance {
border-collapse: collapse;width:500px;}
#insurance td,#insurance th  {
  border: 1px solid black;
  padding: 5px;
}
#insurance th {
  background-color: #ff5733;
  border: 1px solid black;
  color: white;
text-align:left;
}

#paylater {
border-collapse: collapse;width:500px;}
#paylater td,#paylater th  {
  border: 1px solid black;
  padding: 5px;
}
#paylater th {
  background-color: #ff5733;
  border: 1px solid black;
  color: white;
text-align:left;
}

#payment {
border-collapse: collapse;width:1000px;}
#payment td,#payment th  {
  border: 1px solid black;
  padding: 5px;
}
#payment th {
  background-color: #ff5733;
  border: 1px solid black;
  color: white;
text-align:left;
}

#card {
border-collapse: collapse;width:1000px;}
#card td,#card th  {
  border: 1px solid black;
  padding: 5px;
}
#card th {
  background-color: #ff5733;
  border: 1px solid black;
  color: white;
text-align:left;
}







#bookmark {
border-collapse: collapse;width:1000px;}
#bookmark td,#bookmark th  {
  border: 1px solid black;
  padding: 5px;
}
#bookmark th {
  background-color: #ff5733;
  border: 1px solid black;
  color: white;
text-align:left;
}

#post {
border-collapse: collapse;width:3500px;}
#post td,#post th  {
  border: 1px solid black;
  padding: 5px;
}
#post th {
  background-color: #ff5733;
  border: 1px solid black;
  color: white;
text-align:left;
}






div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  border-radius:20px;
  width: 180px;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}

